------------------------connect to drive------------------------

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
cd /content/drive/MyDrive/CSE464/Lab01/

/content/drive/MyDrive/CSE464/Lab01

-----------------------CREATE Table-----------------------------

In [ ]:
sqlCommand = """CREATE TABLE Person (
                PersonID int,
                LastName varchar(255),
                FirstName varchar(255),
                Address varchar(255),
                City varchar(255)
              );"""

print(sqlCommand)

In [ ]:
import re
from pathlib import Path

In [ ]:
sqlCommand = re.sub("\n", "", sqlCommand)
token = sqlCommand.split()
for i in range(len(token)):
  print(token[i])

CREATE
TABLE
Person
(
PersonID
int,
LastName
varchar(255),
FirstName
varchar(255),
Address
varchar(255),
City
varchar(255)
);

In [ ]:
def executionCommand(token):
  if token[0] == 'CREATE':
    token = [re.sub("[()]", "", word) for word in token]
    temp = token[3]
    token = [word for word in token if word != temp]
    for i in range(len(token)):
      if token[i] != " ":
        print(token[i])

    filename = token[2]
    path = filename + ".txt"
    path2 = filename + ".Info.txt"
    address = Path(path)
    if address.is_file():
      print("file already exist")
    else:
      f = open(path, "x")
      f.close()
      f2 = open(path2, "w")
      for i in range(3, len(token)-1, 2):
        temp = token[i] + " " + token[i + 1] + "\n"
        f2.write(temp)
      f.close()
      print("Successfully created")

In [ ]:
executionCommand(token)

CREATE
TABLE
Person
PersonID
int,
LastName
varchar255,
FirstName
varchar255,
Address
varchar255,
City
varchar255
;
Successfully created

-----------------INSERT data into File------------------

In [ ]:
PersonID = int(input("Enter Person ID: "))
LastName = input("Enter Last Name: ")
FirstName = input("Enter First Name: ")
Address = input("Enter Address: ")
City = input("Enter City: ")

Enter Person ID: 04
Enter Last Name: Wolski
Enter First Name: Markets
Enter Address: ul.-Filtrowa/68
Enter City: Walla

In [ ]:
insertCommand = ("""INSERT INTO Person
                    VALUES (
                          '%d',
                          '%s',
                          '%s',
                          '%s',
                          '%s');"""
                          % (PersonID, LastName, FirstName, Address, City))


print(insertCommand)

INSERT INTO Person
                    VALUES (
                          '4',
                          'Wolski',
                          'Markets',
                          'ul.-Filtrowa/68',
                          'Walla');

In [ ]:
import re
from pathlib import Path

In [ ]:
insertCommand = re.sub("\n", "", insertCommand)
tok = insertCommand.split()
for i in range(len(tok)):
  print(tok[i])

INSERT
INTO
Person
VALUES
(
'4',
'Wolski',
'Markets',
'ul.-Filtrowa/68',
'Walla');

In [ ]:
def inExeCommand(tok):
  if tok[0] == 'INSERT':
          tok = [re.sub("[()]", "", word) for word in tok]
          temp = tok[4]
          tok = [word for word in tok if word != temp]
          for i in range(len(tok)):
              if tok[i] != " ":
                  print(tok[i])

          filename = tok[2]
          path = filename + ".txt"
          address = Path(path)
          if address.is_file():
              with open(path, "a") as file:
                  file.write('\n')  # Append a new line
                  for i in range(4, len(tok)):
                      temp = tok[i] + "==:=="
                      file.write(temp)
              print("Insert Successfully")
          else:
              print("error")

In [ ]:
inExeCommand(tok)

INSERT
INTO
Person
VALUES
'4',
'Wolski',
'Markets',
'ul.-Filtrowa/68',
'Walla';
Insert Successfully

---------------Remove full data from File-------------------------

In [ ]:
def remove_data_from_file(filename):
    with open(filename, 'r+') as file:
        file.truncate(0)

# Example usage:
filename = 'Person.txt'

# Remove data from the file
remove_data_from_file(filename)

In [ ]:
remove_data_from_file(filename)

--------SELECT data from file---------------

In [8]:
selectCommand = ("""SELECT * FROM Person;""")


print(selectCommand)

SELECT * FROM Person;

In [9]:
import re
from pathlib import Path

In [10]:
selectCommand = re.sub("\n", "", selectCommand)
token01 = selectCommand.split()
for i in range(len(token01)):
  print(token01[i])

SELECT
*
FROM
Person;

In [11]:
import re
from pathlib import Path

def remove_semicolons(token):
    # Remove semicolons
    token = [re.sub("[(),;]", "", word) for word in token]
    token = [word for word in token]
    return token

def selectExeCommand(token):
    if token[0] == 'SELECT':
        token = remove_semicolons(token)

        filename = token[3]
        path = filename + ".txt"
        address = Path(path)

        if address.is_file():
            with open(address, 'r') as file:

                data = file.read()
                data = data.replace("==:==", "").replace(";", "")
                return data

        else:
            print("File doesn't exist")

In [12]:
# Execute selectExeCommand function
selectExeCommand(token01)

"\n'2','Kala','Wilman','Keskuskatu-45','Helsinki'\n'3','Khan','Abir','E-11/C,Banani','Dhaka'\n'4','Wolski','Markets','ul.-Filtrowa/68','Walla'"

Data store in 2D array

In [13]:
data = selectExeCommand(token01)

# Split the data by newline character
lines = data.split("\n")

# Store the lines in a 2D array
array_2d = [line.split() for line in lines]


#remove empty index from array
array_2d_filtered = [row for row in array_2d if row]


print(array_2d_filtered)

[["'2','Kala','Wilman','Keskuskatu-45','Helsinki'"], ["'3','Khan','Abir','E-11/C,Banani','Dhaka'"], ["'4','Wolski','Markets','ul.-Filtrowa/68','Walla'"]]